.btn{
  display: flex;
  justify-content: center;
  border-radius: 5px;
  gap: 5px;
  flex-wrap: wrap;
  border:2px solid black;
  margin-top: 30px;
  padding:20px;
}


.btn button{
  background-color: lightslategray;
  color: black;
  width: 100px;
  height: 80px;
  border-radius: 5px;
  box-shadow: 10px 5px 3px 3px rgb(53, 130, 169);
  font-size: larger;
}
